<%= form_with(model: @contact, local: true) do |form|  %>
  <div class="table-create">
    <div class="form-create">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="form-create">
      <%= form.label :phone %>
      <%= form.phone_field :phone %>
    </div>

    <div class="form-create last">
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>
  </div>



  <%= form.submit 'Adicionar'%>
<% end %>