<div class="body">
  <div class="container">
    <h1>Contact Book </h1>
    <table class="responsive-table">
      <thead>
      <tr class="table-header">
        <th class="col col-1">Id</th>
        <th class="col col-2">Name</th>
        <th class="col col-3">Address</th>
        <th class="col col-4">Phone</th>
        <th class="col col-4">Kind</th>
        <th class="col col-5">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @contacts.each do |contact| %>
        <tr class="table-row">
          <td class="col col-1"><%= contact.id %></td>
          <td class="col col-2"><%= contact.name %></td>
          <td class="col col-3"><%= contact.address %></td>
          <td class="col col-4"><%= contact.phone %></td>
          <td class="col col-4"><%= contact.kind.description %></td>
          <td class="col col-5">
            <%= link_to 'Delete', contact, class: 'button', method: :delete, data: { confirm: 'Você tem certeza?'} %>
            <%= link_to 'Edit', edit_contact_path(contact), class: 'button' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="table-footer">
      <%= link_to 'Novo', new_contact_path, class: 'b-new' %>
    </div>
  </div>
</div>